{% extends "base.html" %}

{% block page_title %}Adminisztráció{% endblock %}


{% macro translate_discord_id(id) -%}
    {%- if id in members_lut %}
        {{ members_lut[id].user.username }}#{{ members_lut[id].user.discriminator }}
    {%- else -%}
        <span class="text-muted">¯\_(ツ)_/¯</span>
    {%- endif -%}
{%- endmacro %}


{% block content %}
<div class="row">

    <div class="col-12 my-2">
        <h2>Elfogadásra váró nevek</h2>
        
        {% if name_changes %}
        
            <div id="accordion">
            
                {% for name_change in name_changes %}
    
                <div class="card">
    
                    <a class="card-header bg-dark text-white" data-toggle="collapse" href="#collapse{{name_change.id}}">
                        {% if name_change.old_name %}
                            <span class="text-white card-link">{{name_change.old_name}} ⇰ {{name_change.user.minecraft_name}}</span>
                        {% else %}
                            <span class="text-white card-link">✱ {{name_change.user.minecraft_name}}</span>
                        {% endif %}
                    </a>
    
                    <div id="collapse{{name_change.id}}" class="collapse" data-parent="#accordion">
                        <div class="card-body">
    
                            <div class="container">
                            
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <table class="table mb-0">
                                            <tbody>
                                                <tr><td>Új Minecraft név:</td> <td>{{ name_change.user.minecraft_name }}</td></tr>
                                                <tr><td>Régi Minecraft név:</td> <td class="{{ 'text-muted' if not name_change.old_name }}">{{ name_change.old_name or 'Nem volt' }}</td></tr>
                                                <tr><td>Kérelem benyújtva:</td> <td>{{ name_change.created }}</td></tr>
                                                <tr><td>Itt regisztrált:</td> <td>{{ name_change.user.registered }}</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <table class="table">
                                            <tbody>
                                                <tr><td>Discord tag:</td> <td>{{ translate_discord_id(name_change.user.discord_id) }}</td></tr>
                                                <tr><td>Discord csoport tagság:</td> <td>{{ name_change.user.is_member }}</td></tr>
                                                <tr><td>Discord csoport tagság kezdete:</td> <td>{{ extra_info[name_change.id].discord_guild_joined }}</td></tr>
                                                <tr><td>Összes név változtatás:</td> <td>{{ extra_info[name_change.id].total_changes }}</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-12">
                                        <form method="post">
                                            <input type="hidden" name="id" value="{{ name_change.id }}">
                                            <input type="submit" class="btn btn-danger mx-1" name="verdict_deny" value="Elutasít" />
                                            <input type="submit" class="btn btn-success mx-1" name="verdict_accept" value="Elfogad" />
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
    
                {% endfor %}
    
            </div>

        {% else %} {# empty list #}
            <p class="text-center">Minden el van intézve! Ideje sörözni!</p>
        {% endif %}
    </div>
</div>
{# registered users #}
<div class="row">

    <div class="col-12 my-2">
        <h2>Regisztrációk</h2>
        <p>
            Összesen: {{ users|length }}
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Discord tag</th>
              <th scope="col">Minecraft név</th>
              <th scope="col">Regisztrált</th>
              <th scope="col">Név állapot</th>
              <th scope="col">Szinkronizálva</th>
            </tr>
          </thead>
          <tbody>
          {% for user in users %}
            <tr>
              <td>{{ translate_discord_id(user.discord_id) }}</td>
              <td>{{ user.minecraft_name or ''}}</td>
              <td>{{ user.registered }}</td>
              <td>{{ user.name_status.name }}</td>
              <td class="text-{{ "success" if user.in_sync else "warning" }}">{{ user.in_sync }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endblock %}


