{% extends "base.html" %}

{% block page_title %}Biztonsági mentések{% endblock %}

{% block content %}
<div class="row">

    <div class="col-md-6 col-sm-12 my-2">
        <div id="accordion">

            <div class="card">

                <div class="card-header bg-dark text-white">
                    Letöltés
                </div>

                <div class="list-group list-group-flush">
                    {% for backup in data %}
                    <a class="list-group-item list-group-item-action" href="{{ backup.link }}">{{ backup.name }}</a>
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>

    <div class="col-md-6 col-sm-12 my-2">
        <div class="card">
            <div class="card-header bg-dark text-white">
                Információk
            </div>
            <div class="card-body">
                <p class="card-text">Biztonsági mentéseink szabadon elérhetőek. Érdemes letölteni archiválási célokból, hogy ha véletlen eltűnnénk nyom nélkül a műveitekről akkor is maradjon egy másolat.</p>
                <p class="card-text">Ezen az oldalon letölthetőek egyesével a biztonsági mentések a worldökről. Ez mindhárom worldöt (world, nether, the_end) tartalmazza.</p>
                <p class="card-text">A fájlnév formátum a következő: <code>backup_ÉV_HÓ_NAP_ÓRA_PERC_MÁSODPERC.tar.gz</code> </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}


