{% extends "base.html" %}

{% block page_title %}Biztonsági mentések{% endblock %}

{% block content %}
<div class="row">

    <div class="col-md-6 col-sm-12 my-2">
        <div id="accordion">

            {% for world, backups in data.items() %}

            <div class="card">

                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapse{{world}}">{{world}}</a>
                </div>

                <div id="collapse{{world}}" class="collapse" data-parent="#accordion">
                    <div class="card-body">

                        <div class="list-group">
                            {% for backup in backups %}
                            <a class="list-group-item list-group-item-action" href="{{ backup.link }}">{{ backup.name }}</a> {% endfor %}
                        </div>

                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>

    <div class="col-md-6 col-sm-12 my-2">
        <div class="card">
            <div class="card-header bg-dark text-white">
                Információk
            </div>
            <div class="card-body">
                <p class="card-text">Biztonsági mentéseink szabadon elérhetőek. Érdemes letölteni archiválási célokból, hogy ha véletlen eltűnnénk nyom nélkül a műveitekről akkor is maradjon egy másolat.</p>
                <p class="card-text">Ezen az oldalon letölthetőek worldönként egyesével. A struktúra és formátum az <a href="https://github.com/Shevchik/AutoSaveWorld/tree/devel">AutoSaveWorld</a> sajátja. Ezen nem tervezünk változtatni.</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}


