<!DOCTYPE html>
<html lang="hu" class="h-100">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {% block includes %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css">
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

</head>
<body class="d-flex flex-column">

    <header class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="navbar-brand mr-auto"><a href="/" class="text-white">EZO.TV</a></div>

        {% if current_user.is_authenticated %}
        <form class="form-inline my-2 my-lg-0" method="POST" action={{ url_for( 'DashboardView:logout') }}>
            <button class="btn btn-outline-danger my-sm-0" type="submit">Kijelentkezés</button>
        </form>
        {% endif %}

    </header>

    <div id="page-content">
        <main class="my-5">
            <div class="container">
            
                <div class="row">
                    <div class="col-12">
                        <h1>{% block page_title %}{% endblock %}</h1>
                    </div>
                </div>

                {% with messages = get_flashed_messages() %} {% if messages %}{% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}{% endif %} {% endwith %}

            </div>
            <div class="container">
                {% block content %}{% endblock %}
            </div>

      </div>
    </main>
    </div>

    <footer class="py-2 bg-dark text-white-50">
        <div class="container text-center">
            <p>Az <b>EZO.TV Minecraft Szerver</b> nem összekeverendő az <b>ezo.tv</b> ezoterikus izéval</p>
            <p>2015-2020 EZO.TV Minecraft Szerver<br>
            Powered by <a class="text-white" href="https://debian.org">Debian</a>, <a class="text-white" href="https://www.spigotmc.org">Spigot</a> and Magical Pony Power!</p>
        </div>
    </footer>

</body>
</html>
