{% extends "base.html" %}

{% block page_title %}Bejelentkezés{% endblock %}

{% block content %}
<div class="row">

    <div class="col-md-6 col-sm-12 d-flex justify-content-center align-self-center my-2">
        <a href="{{ url_for("discord.login") }}" class="btn btn-primary btn-lg" id="discord-login-button"><img class="glyphicon glyphicon-align-left" src="/static/discord_logo_white.svg">Bejelentkezés Discord használatával</a>
    </div>

    <div class="col-md-6 col-sm-12 my-2">
        <div class="card">
            <div class="card-header bg-dark text-white">
                Információk
             </div>
            <div class="card-body">
                <p class="card-text">fgdahsaoidfjas ioasdfioja jioiojd agojidag jiodjiodga jiodga jiodga jiodga jiodga jiodga jiodga jiogd ajiogd ajiodga jiodga joidg ajoidg jiodga jiodga jiodag oj</p>
                
                <p class="card-text">fgdahsaoidfjas ioasdfioja jioiojd agojidag jiodjiodga jiodga jiodga jiodga jiodga jiodga jiodga jiogd ajiogd ajiodga jiodga joidg ajoidg jiodga jiodga jiodag oj</p>
                
            </div>
        </div>
    </div>

</div>    
{% endblock %}
