{% extends "base.html" %}

{% block page_title %}Bejelentkezés{% endblock %}

{% block content %}
<div class="row">

    <div class="col-md-6 col-sm-12 d-flex justify-content-center align-self-center my-2">
        <a href="{{ url_for("discord.login") }}" class="btn btn-primary btn-lg" id="discord-login-button"><img class="glyphicon glyphicon-align-left" src="/static/discord_logo_white.svg">Bejelentkezés Discord használatával</a>
    </div>

    <div class="col-md-6 col-sm-12 my-2">
        <div class="card">
            <div class="card-header bg-dark text-white">
                Információk
             </div>
            <div class="card-body">
                <p class="card-text">Az EZO.TV egy összetartó és nagyon nyitott közösség! Szívesen látjuk, ha új játékosok csatlakoznak. Viszont sajnos időnként előfordul, hogy visszaélnek a bizalmunkkal. Hogy az ilyen eseteket minimalizálni tudjuk, kénytelenek vagyunk elővigyázatosnak lenni azzal szemben, hogy kit engedünk be.</p>
                <p class="card-text">A Minecraft szerverhez való csatlakozás Discord csoport tagsághoz és elfogadott játékos névhez kötött. Tehát tagnak kell lenned a csoportban és csatlakozás előtt előre meg kell adnod a játékos neved, amelyet adminisztrátorainknak el kell fogadnia. Ha minden rendben van, akkor be tudsz lépni a Minecraft szerverre és játszani velünk! A folyamat teljesen automatizált és az adminisztrátorainknak nincs lehetősége arra, hogy ez alól kivételt tegyenek.</p>
                <p class="card-text">A bejelentkezés gombra kattintva, átirányításra kerülsz a Discord oldalára, aminek segítségével be tudsz jelentkezni az EZO.TV regisztráció kezelő felületre. Itt tudod majd megadni a játékos neved. Itt tudod azt is nyomon követni, hogy mi a regisztrációd állapota, illetve ha a fent leírt kikötések hiánya miatt nem tudsz a minecraft szerverhez csatlakozni, arról is itt kapsz tájékoztatást.</p>
                <p class="card-text">Az EZO.TV adminisztrációs rendszerének működéséhez csak a Discord azonosítódra van szükség. Ezt az azonosítót használjuk, hogy eldöntsük, hogy tagja vagy-e az EZO.TV Discord csoportnak, vagy sem. Ezen kívül a csoport tagságodhoz kapcsolódó információkat láthatnak az adminisztrátorok, ha tagja vagy a csoportnak.</p>
                <p class="card-text">Jó játékot kíván az EZO.TV csapata!</p>
            </div>
        </div>
    </div>

</div>    
{% endblock %}
