{% include 'header.html' %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<main class="col-md-6 col-sm-12 mx-auto my-5">

    <h1>Minecraft Szerver regisztráció</h1>

    {% if error %}
    <div class="alert alert-danger" role="alert">
         {{ error }}
    </div>
    {%endif %}
    
    {% if mistakes %}
    <div class="alert alert-danger" role="alert">
    <p>Úgy tűnik az alábbi hibákat vétetted:</p>
    <ul>
    {% for mistake in mistakes %}
      <li>{{ mistake }}</li>
    {% endfor %}
    </ul>
    </div>
    {%endif %}

    <form method="post" action="/register">
      <div class="form-group row">
        <label class="col-3 col-form-label" for="name">Név</label>
        <div class="col-9">
          <input id="name" name="name" placeholder="Béla" type="text" aria-describedby="nameHelpBlock" required="required" class="form-control" value="{{ prefill.name|safe }}" minlength="3" maxlength="50">
          <span id="nameHelpBlock" class="form-text text-muted">Nicknév amely alapján megismerünk</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="minecraft_name" class="col-3 col-form-label">Minecraft játékosnév</label>
        <div class="col-9">
          <input id="minecraft_name" name="minecraft_name" placeholder="xXx_1337MinerSWAGCrafter420Pu$$yH4xX0r69xD_xXx" type="text" aria-describedby="minecraft_nameHelpBlock" required="required" class="form-control" value="{{ prefill.minecraft_name }}" pattern="[A-Za-z0-9_]*" minlength="3" maxlength="16">
          <span id="minecraft_nameHelpBlock" class="form-text text-muted">Figyelj oda, hogy pontosan írd be!</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-3 col-form-label">E-mail cím</label>
        <div class="col-9">
          <input id="email" name="email" placeholder="beluska69@cock.li" type="email" required="required" class="form-control" value="{{ prefill.email }}" maxlength="500">
        </div>
      </div>
      <div class="form-group row">
        <label for="discord" class="col-3 col-form-label">Discord tag</label>
        <div class="col-9">
          <input id="discord" name="discord" placeholder="Beluska#1234" type="text" required="required" class="form-control" value="{{ prefill.discord }}" pattern=".*#[0-9]{4}" minlength="1" maxlength="32">
          <span id="discordHelpBlock" class="form-text text-muted">A tagságod automatikusan ellenőrzésre kerül!<br>Később nyugodtan változtathatsz nevet, a regisztrációd automatikusan követni fogja.</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-3 col-form-label">Jelszó</label>
        <div class="col-9">
          <input id="password" name="password" placeholder="*********" type="password" aria-describedby="passwordHelpBlock" required="required" class="form-control" value="">
          <span id="passwordHelpBlock" class="form-text text-muted">Ezzel tudsz majd belépni a szerverre</span>
        </div>
      </div>
      
      <script language='javascript' type='text/javascript'>
        function password_match_check(input) {
            if (input.value != document.getElementById('password').value) {
                input.setCustomValidity('Password Must be Matching.');
            } else {
                // input is valid -- reset the error message
                input.setCustomValidity('');
            }
        }
    </script>
      
      <div class="form-group row">
        <label for="password_verify" class="col-3 col-form-label">Jelszó mégegyszer</label>
        <div class="col-9">
          <input id="password_verify" name="password_verify" placeholder="*********" type="password" required="required" class="form-control" value="" oninput="password_match_check(this)">
        </div>
      </div>
      
      <div class="form-group row">
        <div class="offset-3 col-9">
         <div class="g-recaptcha" data-sitekey="{{ config.recaptcha_sitekey }}"></div>
        </div>
      </div>
         
      <div class="form-group row">
        <div class="offset-3 col-9">
          <button name="submit" type="submit" class="btn btn-primary">Regisztráció</button>
        </div>
      </div>
    </form>
</main>



{% include 'footer.html' %}