/* faszomat beleverem a bootstrap-be */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}


#discord-login-button {
  background-color: #7289DA !important;
}

#discord-login-button img {
  display: inline-block;
  height: 2em;
  padding-right: 0.5em;
}