/* faszomat beleverem a bootstrap-be */

html,
body {
  height: 100%;
}

main {
  padding-top: 70px;
  flex: 1 0 auto;
}

#discord-login-button {
  background-color: #7289DA !important;
}

#discord-login-button img {
  display: inline-block;
  height: 2em;
  padding-right: 0.5em;
}